@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@font-face {
    font-family: Impact;
    src: url(fonts/impact.ttf);
}

//FONTS
$main-font: 'Lato', sans-serif;
$header-font: 'Impact';

//FONT-SIZE
$font-size-h2: 1.905em;
$font-size-h3: 1.190em;
$font-size-p: 1em;

//LINE-HEIGHT
$line-height-h2: 1.25;
$line-height-h3: 1.25;
$line-height-p: 1.4;

//FONT-WEIGHT
$font-weight-h2: 500;
$font-weight-h3: 600;
$font-weight-p: 400;

//COLORS
$primary: #e2bf9f;
$black: #000;
$white: #fff;
$red: #c64327;
$red-light: #de967d;
$gray: #b2b2b2;

.white {
    color: $white;
}

.red {
    color: $red;
}

.black {
    color: $black;
}

//MEDIA-QUERIES
$breakpoints: (
    'xs': (min-width: 575px),
    'sm': (min-width: 767px),
    'md': (min-width: 992px),
    'lg': (min-width: 1240px),
)!default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}

*, *:before, *:after {
    box-sizing: border-box;
    outline: 0;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    color: $black;
    font-family: $main-font;
}

section {
    display: block;
    padding: 50px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

h2, h3 {
    margin: 0;
}

h2 {
    font-family: $header-font;
    font-size: $font-size-h2;
    font-weight: $font-weight-h2;
    line-height: $line-height-h2;
}

h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-h3;
    line-height: $line-height-h3;
}

p {
    font-size: $font-size-p;
    font-weight: $font-weight-p;
    line-height: $line-height-p;
    margin-bottom: 20px;
    margin-top: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include respond-to('xs') {
        max-width: 550px;
    }

    @include respond-to('sm') {
        max-width: 740px;
    }

    @include respond-to('md') {
        max-width: 960px;
    }

    @include respond-to('lg') {
        max-width: 1200px;
    }
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -20px;
    margin-right: -20px;

    @include respond-to('sm') {
        flex-direction: row;
    }
}

//FONTS-MOBILE

body {
    font-size: 14px;

    @include respond-to('sm') {
        font-size: 16px;
    }

    @include respond-to('md') {
        font-size: 18px;
    }

    @include respond-to('lg') {
        font-size: 21px;
    }
}

//HEADER
header {
    text-align: center;
    padding: 15px;
    background-color: $primary;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

//SECTION_1
#section_1 {
    background-image: url(../img/hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;

    @include respond-to('sm') {
        min-height: 530px;
    }

    @include respond-to('md') {
        min-height: 810px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    @include respond-to('lg') {
        padding-left: 80px;
        padding-right: 80px;
    

        &::after {
            position: absolute;
            content: '';
            background-image: url(../img/triangle.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            bottom: 0;
            right: 0;
            width: 420px;
            height: 420px;
        }
    }

    .row {
        @include respond-to('sm') {
            justify-content: space-between;
        }
    }

    .left {
        margin-bottom: 30px;

        .text {
            text-align: center;
            max-width: 300px;
            position: relative;
            z-index: 1;
            padding: 20px;
            margin-bottom: 30px;
    
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                opacity: .8;
                z-index: -1;
            }
    
            p {
                margin: 0;
            }
        }

        .img_holder {
            max-width: 250px;
            margin: 0 auto;

            @include respond-to('md') {
                max-width: 350px;
            }
        }
    }

    .right {
        background-color: $white;
        max-width: 260px;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        padding: 20px 15px 50px 15px;
        position: relative;
        box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);

        @include respond-to('md') {
            max-width: 320px;
        }

        &::before {
            content: '-70%';
            position: absolute;
            top: -25px;
            right: -25px;
            background-color: $red;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-weight: 600;
            font-size: 1.4em;
        }

        p {
            font-weight: 800;
            
            .big_price {
                font-size: 3em;
                margin: 0 5px;
            }

            .small_price {
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    top: 8px;
                    left: -4px;
                    transform: rotate(-20deg);
                    width: 100%;
                    height: 2px;
                    background-color: $red;

                    @include respond-to('lg') {
                        top: 12px;
                    }
                }

            }
        }

        .border {
            border: 3px solid $red-light;
            border-radius: 15px;
            padding: 20px 20px 30px 20px;
            position: relative;

            @include respond-to('md') {
                padding: 20px 20px 50px 20px;
            }

            .input_group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                label {
                    color: $gray;
                    margin-bottom: 5px;
                    font-weight: 800;
                    text-transform: uppercase;
                }

                input {
                    width: 100%;
                    border: 1px solid $gray;
                    background-color: $gray;
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 20px;
                }
            }
        }

        #form_btn {
            border: 3px solid $white;
            border-radius: 10px;
            background-color: $red;
            color: $white;
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: 600;
            letter-spacing: 1.5px;
            padding: 8px;
            cursor: pointer;
            width: 100%;
            position: absolute;
            bottom: -24px;
            left: 12px;
            max-width: 200px;
            box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);

            @include respond-to('md') {
                max-width: 260px;
            }
        }
    }
}

//ICON-BAR
#icon_bar {
    background-color: $primary;
    padding: 20px;

    @include respond-to('md') {
        padding: 10px;
    }

    .row {
        @include respond-to('md') {
            justify-content: space-around;
        }

        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 200px;
            margin-bottom: 30px;

            @include respond-to('sm') {
                margin-bottom: 0;
                max-width: 250px;
            }

            @include respond-to('md') {
                flex-direction: row;
                text-align: left;
                max-width: 300px;
                margin-right: 10px;
            }

            .icon {
                max-width: 70px;
                margin-bottom: 10px;

                @include respond-to('md') {
                    margin-right: 10px;
                }
            }

            span {
                font-weight: 600;
                margin-bottom: 0;
                font-size: 16px;
            }
        }
    }
}

//SECTION_2
#section_2 {
    padding: 0;

    .header_black {
        background-color: $black;
        padding: 20px;
        text-align: center;
    }

    .content {
        background-image: url(../img/section2_bg.png);
        min-height: 375px;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 0;
        text-align: center;

        @include respond-to('md') {
            text-align: left;
        }

        .text_left {
            margin-bottom: 40px;
            position: relative;

            @include respond-to('md') {
                max-width: 600px;
            }

            h2 {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .grandpa {
                display: none;
                position: absolute;
                bottom: -206px;
                right: -260px;
                width: 208px;
                height: 514px;

                @include respond-to('md') {
                    display: block;
                }

                @include respond-to('lg') {
                    width: 226px;
                    height: 550px;
                    bottom: -206px;
                    right: -450px;
                }
            }
        }

        .row {
            @include respond-to('sm') {
                justify-content: space-around;
            }

            @include respond-to('md') {
                justify-content: space-between;
                align-items: flex-start;
            }

            .img_holder {
                max-width: 270px;
                margin-bottom: 15px;

                @include respond-to('sm') {
                    max-width: 230px;
                }

                @include respond-to('md') {
                    max-width: 300px;
                    margin-bottom: 25px;
                }

                @include respond-to('lg') {
                    max-width: 380px;
                }
            }
    
            .empty {
                width: 270px;
                display: none;

                @include respond-to('md') {
                    display: block;
                    width: 300px;
                }

                @include respond-to('lg') {
                    width: 380px;
                }
            }
        }
    }
}

//SECTION_3
#section_3 {
    background-image: url(../img/section3_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;

    @include respond-to('lg') {
        background-position: top;
    }

    .container {
        display: flex;
        justify-content: center;

        @include respond-to('sm') {
            justify-content: flex-end;
        }

        .text {
            text-align: center;
            max-width: 300px;
    
            @include respond-to('xs') {
                max-width: 400px;
            }
    
            @include respond-to('sm') {
                max-width: 534px;
                text-align: right;
            }

            @include respond-to('md') {
                max-width: 640px;
            }

            @include respond-to('lg') {
                max-width: 800px;
            }
    
            h2 {
                margin-bottom: 15px;
            }

            .doctor_Bednarek {
                margin-bottom: 0;
            }
        }
    }
}

//SECTION_4
#section_4 {
    background-image: url(../img/section4_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 753px;

    .box {
        position: relative;

        @include respond-to('md') {
            margin: 0 auto;
            max-width: 60%;
        }

        @include respond-to('lg') {
            &::before {
                content: '';
                position: absolute;
                width: 200px;
                height: 255px;
                background-image: url(/assets/img/neodymium.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                top: 50%;
                transform: translateY(-50%);
                left: -33%;
            }

            &::after {
                content: '';
                position: absolute;
                width: 250px;
                height: 380px;
                background-image: url(/assets/img/product.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                top: 50%;
                transform: translateY(-50%);
                right: -39%;
            }
        }

        .text {
            text-align: center;
            color: $white;
            position: relative;
            z-index: 1;
            padding: 15px;
            margin-bottom: 30px;

            @include respond-to('md') {
                text-align: left;
            }
    
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: $black;
                opacity: .6;
                top: 0;
                left: 0;
                z-index: -1;
            }
    
            h2 {
                margin-bottom: 15px;
            }
        }
    }
}

